@import '../../styles/global.scss';

.homepage_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.homepage {
  display: flex;
  width: 90vw;
  height: calc(100vh - 150px);
  flex-direction: column;
  margin-top: 100px;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.3);
  align-items: center;

  @include scrollbar-styles;

}

.homepage_content {
  margin: 50px;
  height: 100%;
  padding: 50px;
  box-sizing: content-box;
  width: 80%;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: auto;

  :global {

    .ant-card {
      margin: 20px 50px;
      background-color: #F0F4FD;
      width: 1000px;

    }
  }
}

.content {


}