.profile_wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url('/src/assets/2.jpg');
    background-size: cover;
}

.profile {
    display: flex;
    width: 80vw;
    height: calc(100vh - 200px);
    // border: 1px solid #000;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.3);


}

.user_card {
    margin: 50px;
    margin-right: 25px;
    box-sizing: content-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.posts_card {
    margin: 50px;
    margin-left: 25px;
    box-sizing: content-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: calc(100% - 100px);
}

.draft_card {
    margin: 50px;
    margin-right: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 100%; 
}