@import '../../styles/global.scss';

.contact-admin {
  max-width: 40vw;
  padding: 20px;
  margin: 100px auto 20px;
  align-items: center;
}

.contact-admin-form {
  width: 100%;
}

.contact-admin-form-item {
  margin-bottom: 20px;
}

.contact-admin-submit-btn {
  width: 100%;
}
